body {
    font-family: Arial, sans-serif;
    background: #f6f9fc;
    margin: 0;
    text-align: center;
}

header {
    background: linear-gradient(to right, #00aaff, #00cc99);
    color: white;
    padding: 20px;
}

.card {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    margin: 8px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 45%;
}

button {
    background: #00aaff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #0088cc;
}

.result {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
}

#referenceTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#referenceTable,
#referenceTable th,
#referenceTable td {
    border: 1px solid #ccc;
}

#referenceTable th {
    background: #00aaff;
    color: white;
    padding: 10px;
}

#referenceTable td {
    padding: 8px;
}